.product {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product-btn {
  margin: 1%;
  border: 0px none;
  margin-bottom: 5%;
  background-color: transparent;
  width: 100%;
}

button:focus {
  outline: none;
}

.product img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product h3 {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product p {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

#go-cart {
  background-color: #FFD700 !important;
  width: 90%;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#go-cart:hover {
  background-color: #2ab300;
}

.addingToCartBtn {
  background-color: #00bfffbb;
  color: #fff;
  width: 90%;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addingToCartBtn:hover {
  background-color: #00ff1eac;
}
.admin-btns{
  display: flex;
  justify-content: space-between;
}
.admin-btns button{
  background-color: transparent;
  border: none;
  color: #989998;
}
.admin-btns button:hover{
  color: #252625;
}

@media (max-width: 600px) {
  .product {
    padding: 10px;
  }

  .product-btn {
    margin: 1% 0;
  }
}
 

  
  